/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --accent: #EA918D;
    --accentHover: #DE8A86;
    --dark: #304659;
    --dark80: rgba(48, 70, 89, .8);
    --dark60: rgba(48, 70, 89, .6);
    --light: #F5F9FC;
    --transition: all 0.3s ease 0s;
    
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: visible;
    font-size: 62.5%;
}

body {
    background: 
        -o-linear-gradient(var(--dark60),var(--dark60)),
        url(img/background.jpg);
    background: 
        linear-gradient(var(--dark60),var(--dark60)),
        url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p, a, button {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: var(--light);
}

a, button, .logo {
    cursor: pointer;
}

body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
    
}

header {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/ span 6;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 120px;
}

.links a, .links button {
    font-size: 1.7rem;
    font-weight: 400;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.links a {
    margin-right: 50px;
}

.links a:hover {
    color: var(--accent);
}

.links button {
    background-color: var(--accent);
    border: none;
    padding: 8px 25px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.links button:hover {
    background-color: var(--accentHover);
}

.info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/ span 4;
}

.hero_font {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: var(--light);
    font-size: 7rem;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5.5rem;
}
.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.icon_info {
    margin: 0 8rem 0 2rem;
}

.icon_top {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.icon_bottom {
    font-size: 2.5rem;
    font-weight: 700;
}

.features {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/ span 7;
    background: var(--dark80);
    padding: 40px 0 0 60px;
    align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 60px 40px 0;
}

.feature:nth-child(3) {
    -ms-flex-item-align: start;
        align-self: flex-start;
    
}

.feature img {
    height: 100px;
    margin-right: 20px;
}

.feature_info  {
    margin-top: 10px;
}

.feature_top, .feature_cta {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature_cta {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
}

.feature_cta:hover {
    color: var(--accent);
}

.feature_bottom {
    width: 180px;
    font-size: 1.6rem;
    font-weight: 400;
}

@media only screen and (max-width: 1100px) {

    .icon img {
        height: 55px;
        width: auto;
    }

    .icon_top {
        font-size: 1.6rem;
    }

    .icon_bottom {
        font-size: 1.8rem;
    }

    .hero_font {
        font-size: 3.5rem;
    }

    .features {
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
        grid-column: 1/span 8;
    }
}

@media only screen and (max-width: 650px) {

    .links a {
        margin-right: 15px;
    }
    .info {
        -ms-grid-column: 2;
        -ms-grid-column-span: 6;
        grid-column: 2/ span 6;
    }

    .icons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .icon {
        margin-bottom: 20px;
    };
}